.head-background{
  height: 40vh;
  background: linear-gradient(to top, gray, black);
  margin: 0;
  padding: 0;
  display: flex;
}

.about-section{
  height: 150vh;
  display: flex;
}

.quick-view{

}

.quick-view-button{
  height: 2.5vw;
  width: 2.5vw;
  margin: 1vw;
  background-color: white;
  border-radius: 1.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
}

.quick-view-button:hover{
  background-color: red;
  cursor: pointer;
}

.factory-0{
  background-image: url('/images/industrial-background-0.png');
  width: 100%;
  height: 45%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.factory-1{
  background-image: url('/images/industrial-background-0.png');
  width: 100%;
  height: 45%;
  background-size: cover;
  background-position: center;
  position: absolute;
}


.sandwich-bar{
  width: 1.5vw;
  height: .2vw;
  margin: .2vw 0 .2vw 0;
  background-color: black;
}





.left-decor-0{
  position: absolute;
  left: 0;
  background-color:white;
  width: 5vw;
  height: 5vw;
}

.sort-selection{
  height: 30vh;
  background-color: gray;
  display: flex;
}

.sort-type{
  background: linear-gradient(to right, lightgray, gray);
  border-style: solid;
  border-color: white;
  border-width: 2px;
  width: 15vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(5px, 2vw, 40px);
  margin: 0 1vw 0 1vw;
}

.sort-section{
  height: 160vh;
  background: linear-gradient(to bottom, gray, black, black, black);
}

.language-header-portion{
  color: white;
  font-size: clamp(2px, 6vw, 75px);
  padding: 20vh 5vw 0 5vw;
  width: fit-content;
}

.time-complexity-section{
  color: white;
  font-size: clamp(2px, 3.5vw, 35px);
  padding-top: 20vh;
  width: 30vw;
  text-align: center;
}

.other-section{
  color: white;
  font-size: clamp(2px, 3.5vw, 35px);
  padding-top: 20vh;
  width: 30vw;
  text-align: center;
  display: flex;
}

.sort-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar{
  height: 30px;
  width: 10px;
  background-color: white;
}

.bar-box{
  width: 80%;
  height: 70vh;
  padding: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: bottom;
}

.sliderNumber{
  color:red;
  background-color: white;
  width: 8vw;
  height: 3.5vw;
  font-size: clamp(2px, 3vw, 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-box{
  width: 20vw;
  padding: 0 2.5vw 0 2.5vw;
}

#countSlider {
  width: 100%;
  height: 20px;
}

body{
  /*background-image: url("./images/background-0.jpg");*/
  margin: 0;
  padding: 0;
}

html{
  margin: 0;
  padding: 0;
}